#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  padding: 2em;
}

.link {
  color: #646cff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
