@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap");

:root {
  font-family: "Sora", sans-serif;
  line-height: 1.45;
  font-weight: 400;
  color: #111827;
  background-color: #f5f7fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #f3f6fb;
  min-height: 100vh;
}


h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}
